<ul class="nav nav-pills d-print-none mb-3">
  <li class="nav-item">
    <a class="nav-link {% if page.name contains 'index' %}active{% endif %}" href="{{ site.conference.location.url | prepend: page.year | prepend: '/' | prepend: site.baseurl }}">
      {% if site.conference.location.navbar_title -%}
        {{- site.conference.location.navbar_title -}}
      {%- else -%}
        {{- site.data.lang[site.conference.lang].location.directions | default: "Directions" -}}
      {%- endif %}
    </a>
  </li>
  {%- for room in site.rooms -%}
    {%- if room.year contains current_year or room.year == current_year %}
    <li class="nav-item">
      {%- if room.hide %}
        <span class="nav-item nav-link disabled">
          {{ room.name }}
        </span>
      {%- else %}
        <a class="nav-link {% if this_room.name == room.name %}active{% endif %}" href="{{ room.url | prepend: site.baseurl }}">
          {{ room.name }}
        </a>
      {%- endif %}
    </li>
    {%- endif %}
  {%- endfor -%}
  {%- for room in site.rooms -%}
    {%- assign room_displayed = false -%}
    {%- for d in site.data.program.days -%}
      {%- for r in d.rooms -%}
        {%- if room.name == r.name -%}
          {%- assign room_displayed = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
    {%- unless room_displayed %}
      <li class="nav-item">
        {%- if room.hide or site.conference.location.hide %}
          <span class="nav-item nav-link disabled">
            {{ room.name }}
          </span>
        {%- else %}
          <a class="nav-link {% if this_room.name == room.name %}active{% endif %}" href="{{ room.url | prepend: site.baseurl }}">
            {{ room.name }}
          </a>
        {%- endif %}
      </li>
    {%- endunless -%}
  {%- endfor %}
</ul>